/* navbar css */
nav{ 
  height: 45px;
  width: 100%; 
  border: 1px solid transparent;
  display: flex; 
  padding: 10px;
  box-shadow: 5px 10px 18px #888888; 
}
.navLink{
  text-decoration: none; 
  color: grey;
}
.navLink:hover{ 
  color: #151414;
}

.nav_head_div{
  height: 100%;
  width: 35%; 
  color: black;
  font-family: sans-serif;  
}


.nav_head_div h2{
  color: #B4325B;
  padding: 2px;
  margin: 2px 2px 2px 1rem;
}

.nav_items_div{
  height: 100%;
  width: 65%; 
}
ul{
  list-style-type: none;
  display: flex; 
  text-decoration: none; 
  justify-content: center;
  margin: 2px;
  padding: 2px;
}

ul li{
  color: #B4325B; 
  margin-left: 50px;
  list-style-type: none;
  padding: 2px;
  margin-top: 2px; 
  font-family: sans-serif;
  cursor: pointer;
} 
.hamburger-menu a {
  color: #B4325B;
  list-style-type: none;
  text-decoration: none;
}
/* navbar mobile css */
@media(min-width: 1300px){
  .hamburger-menu{
    display: none;
  }
  
}
@media(max-width: 1300px){
.nav{
  height: 35px;
  width: 100%; 
  border: 1px solid transparent;
  display: flex; 
  padding: 10px;
  box-shadow: 5px 10px 18px #888888; 
}
.mobile-menu-link{
  margin-top: 46px;
  background-color: rgb(0, 0, 0);
  height: 500px;
  width: 100%;
  margin-right: -150px;
  z-index: 20;
}
.navLink:hover{ 
  color: #fff;
}
.mobile-menu-link ul{ 
  list-style-type: none;
  display: flex; 
  flex-direction: column;
  text-decoration: none; 
  justify-content: center;
  margin: 2px;
  padding: 2px;
}

ul li{
  text-decoration: none;
  color: #fff; 
  list-style-type: none; 
  padding: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px; 
  font-family: sans-serif;
  cursor: pointer;
} 
ul li a {
  color: #B4325B;
  list-style-type: none;
  text-decoration: none;
}
ul li a:hover{
  color: #dc4374;  
}
.nav_head_div{
  width: 80%;
}
.nav_items_div{
  display: none;
}

.hamburger-menu{ 
  float: right;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 0;  
} 
 
}


/* home css */

.home{
  height: 100vh;
  width: 100%; 
  /* display: grid; 
  grid: auto-flow / 1fr 1fr 1fr;   */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

}
.homeSMdiv{
  height: 500px;
  width: 400px; 
  border: 1px solid transparent; 
  padding: 10px;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  box-shadow: 5px 10px 18px #888888;
}
.homeSMdiv a{
  text-decoration: none;
  
}

.homeSMdiv img{
  height: 150px;
  width: 300px; 
}
.readMore a{
  cursor: pointer;  

}

@media (min-width:1280){
  .homeSMdiv{
    max-width: 400px;
    width: 100%;
  }
  .home{
    display: grid;  
  }
  
} 
 

@media (min-width:768px){
  .homeSMdiv{ 
    max-width: 400px;
    width: 100%;
  }
   
   
} 
 

@media (max-width:768px){
  .homeSMdiv{ 
    max-width: 400px;
    width: 100%;
    background-color: #dc4374;
  }
  .homeSMdiv a{
    color: #fff;
  }
  .home{ 
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
  }
  .mobile-menu-link{
    margin-top: 46px;
    background-color: black;
    height: 500px;
    width: 100%;
    margin-right: -100px;
  list-style-type: none;
  }
  .navLink:hover{ 
    color: #fff;
  }
} 

@media (max-width:400px) {
  .homeSMdiv{
    max-width: 300px;
    width: 100%;
  }
  .home{ 
    display: table-column;
  }
}
